*{
    margin:0;
    padding:0;
}
body{
    background-color:pink;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:red;
    border:1px solid white;
}
li a{
    display:block;
    width:60px;
}
img{
    float: left;
}